# Dependencies
node_modules/

# Build output
dist/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/
*.suo
*.user

# Logs
*.log

# Env
.env
.env.local

# Temp
*.tmp
*.bak
*-src.html
